@page
@using ZealandDimselab.Models
@model ZealandDimselab.Pages.RemoveItem.RemoveItemModel
@{
}
<h1>Remove Confirmation</h1>
<div class="alert alert-danger">
    <h5>Are you sure you want to delete Item - @Model.Item.Name</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Items/AllItems">No</a>
    </form>
</div>