@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a class="btn" asp-page="/Items/AllItems"><img src="~/images/Dimselab.png"/></a>

<div class="card" width="70%">
    <div class="card-body"><a class="btn" style="background: green" asp-page="/Items/AllItems">All Items</a></div>

</div>

@foreach (var category in @Model.Categories)
{
    <div class="card" width="70%">
        <div class="card-body"><a class="btn" style="background: green" asp-page="/Items/AllItems">@category.CategoryName</a></div>

    </div>
}