@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a type="button" class="btn btn-primary btn-block" asp-page="/Items/AllItems">All Items</a>

@foreach (var category in @Model.Categories)
{
    <a type="button" class="btn btn-primary btn-block" asp-page="/Categories/AllItemsCategory" asp-route-id="@category.CategoryId">@category.CategoryName</a>
}